<div class="container mt-5">
  <div style="text-align: center">
    <h1>Calculate your Fitness level</h1>
    <p class="lead">Calculate and keep track of your fitness level....all you need to do is register!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2">Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

    <div class="row justify-content-center" style="margin-top:70px;">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Body Fat Percentage</h2>
        <p style='text-align:justify'>The body fat percentage (bf%) is a body measurement which directly calculates a person's relative body composition without regard to height or weight.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Body Mass Index</h2>
        <p style='text-align:justify'>The Body Mass Index (BMI) is a value derived from the mass (weight) and height of a person. The BMI is defined as the body mass divided by the square of the body height, and is universally expressed in units of kg/m2, resulting from mass in kilograms and height in metres.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Basal Metabolic Rate</h2>
        <p style='text-align:justify'>The Basal Metabolic Rate (BMR) is roughly the number of calories you burn lying in bed, on an empty stomach, at a comfortable room temperature. Your BMR can change based on a number of factors, but it's generally correlated with your lean body mass and to a lesser degree, your total body mass.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div>
</div>