<div class="bf-parent">
  <div class="bf-left-div">
    <div>
      <table>
        <tbody>
          <tr>
            <td width="70">Gender</td>
            <td width="240">
              <label for="csex1" class="cbcontainer"
                ><input
                  type="radio"
                  name="csex"
                  id="csex1"
                  value="m"
                  checked=""
                /><span class="rbmark"></span>male</label
              >
              &nbsp;
              <label for="csex2" class="cbcontainer"
                ><input type="radio" name="csex" id="csex2" value="f" /><span
                  class="rbmark"
                ></span
                >female</label
              >
            </td>
          </tr>
          <tr>
            <td width="70">Age</td>
            <td width="240">
              <input
                type="text"
                name="cage"
                value="25"
                class="inlongest"
                onkeyup="iptfieldCheck(this, 'r', 'pn');"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <td width="70">Weight</td>
            <td width="240">
              <input
                type="text"
                name="cweightkgs"
                value="80"
                class="inlongest inuick"
                onkeyup="iptfieldCheck(this, 'r', 'pn');"
              /><span class="inuickspan">kg</span>
            </td>
          </tr>
          <tr>
            <td width="70">Height</td>
            <td width="240">
              <input
                type="text"
                name="cheightmeter"
                id="cheightmeter"
                value="178"
                class="inlongest inuick"
                onkeyup="iptfieldCheck(this, 'r', 'pn');"
              /><span class="inuickspan">cm</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group text-center">
        <button
          class="btn btn-success"
          type="submit"
        >
          Calculate
        </button>
        <button class="btn btn-default" type="button">
          Clear
        </button>
      </div>
    </div>
  </div>

  <div class="rightresult">
    <h2 class="h2result">Result</h2><div class="bigtext" style="margin-top:5px;"><b>BMI = 20.1 kg/m<sup>2</sup></b> &nbsp; (<font color="green"><b>Normal</b></font>)</div><table width="320" cellspacing="0" cellpadding="0" border="0" align="center" style="margin-top:5px;"><tbody><tr><td><div style="margin-left: 68px;">20.1<br><img src="//d26tpo4cm8sb6k.cloudfront.net/img/arrow-down.png"></div></td></tr><tr><td><img src="//d26tpo4cm8sb6k.cloudfront.net/img/bmi-adult.png" width="320"></td></tr></tbody></table><ul style="margin-left:8px;padding-left:8px;"><li>Healthy BMI range: 18.5 kg/m<sup>2</sup> - 25 kg/m<sup>2</sup></li><li>Healthy weight for the height: 59.9 kgs - 81.0 kgs</li><li>Ponderal Index: 11.1 kg/m<sup>3</sup></li></ul></div>
</div>
