<div class="bf-parent">
  <div class="bf-innerdiv">
    <div>
      <table>
        <tbody>
          <tr>
            <td width="70">Gender</td>
            <td width="240">
              <label for="csex1" class="cbcontainer"><input type="radio" name="csex" id="csex1" value="m"
                  checked="" /><span class="rbmark"></span>male</label>
              &nbsp;
              <label for="csex2" class="cbcontainer"><input type="radio" name="csex" id="csex2" value="f" /><span
                  class="rbmark"></span>female</label>
            </td>
          </tr>
          <tr>
            <td width="70">Age</td>
            <td width="240">
              <input type="text" name="cage" value="25" class="inlongest" onkeyup="iptfieldCheck(this, 'r', 'pn');" />
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <label>Weight <input [(ngModel)]="WeightInput"></label>
          </tr>
          <tr>
            <label>Height <input [(ngModel)]="HeightInput"></label>
          </tr>
        </tbody>
      </table>
      <div class="form-group text-center">
        <button class="btn btn-success" type="submit" (click)="showBmiResults()">
          Calculate
        </button>
        <button class="btn btn-default" type="button">
          Clear
        </button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="show">

    <div class="bf-innerdiv">
      <h2 class="h2result">Result</h2>
      <div class="bigtext" style="margin-top:5px;"><b>BMI = {{bmiResult}}> kg/m<sup>2</sup></b> &nbsp; (<font color="green">
          <b>Normal</b></font>)</div>
      <ul style="margin-left:8px;padding-left:8px;">
        <li>Healthy BMI range: 18.5 kg/m<sup>2</sup> - 25 kg/m<sup>2</sup></li>
        <li>Healthy weight for the height: 59.9 kgs - 81.0 kgs</li>
        <li>Ponderal Index: 11.1 kg/m<sup>3</sup></li>
      </ul>
    </div>
  </ng-container>
</div>